/*1px像素边框*/
/*背景图片*/
.index_banner {
  position: relative;
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.index_banner.server_banner {
  background-image: url("../../static/images/17.jpg");
}
.index_banner.about_banner {
  background-image: url("../../static/images/11.jpg");
}
.index_banner.case_banner {
  background-image: url("../../static/images/9.jpg");
}
.index_banner.connect_banner {
  background-image: url("../../static/images/22.jpg");
}
.index_banner.activity_banner {
  background-image: url("../../static/images/31.jpg");
}
h2.title {
  position: absolute;
  font-size: 0.4rem;
  color: #FFFFFF;
}
h2.title.server_title {
  left: 20%;
  top: 50%;
}
h2.title.about_title {
  transform: translate(-50%, -20%);
  left: 50%;
  top: 40%;
}
h2.title.case_title {
  transform: translate(0, -40%);
  left: 30%;
  top: 40%;
}
p.sub_title {
  position: absolute;
  padding-top: 0.1rem;
  font-size: 0.22rem;
  color: #FFFFFF;
}
p.sub_title.server_subtitle {
  left: 20%;
  top: 55%;
}
p.sub_title.about_subtitle {
  transform: translate(-50%, -23%);
  left: 50%;
  top: 46%;
}
p.sub_title.case_subtitle {
  transform: translate(0, -46%);
  left: 30%;
  top: 46%;
}
.server_box {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.server_box .server_type {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.server_box .server_type a {
  padding: 20px 0;
  font-size: 0.16rem;
}
